.main-div {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     margin: 0 auto;
  
}
.image {
    width: 20em;
    height: 20em;
    margin: auto auto;
}
.i-view {
    width: 20em;
    height: 20em;
}
.info {
    width: 20em;
    height: 20em;
    margin: auto auto;
}
.info p{
    width: 20em;
    height: 20em;
    margin:1em;
}
.view {
    margin: 0 auto;
   
}
.para {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 1.5em;
}

