<div class="main">
    <div class="box">

        <div class="image" >
            <img src={{item?.image_path}} />
        </div>
        <div class="information-div child" >
            <div>
                <span class="number">
                    <h2 > {{item?.image_number}}</h2>
                </span>
            </div>
            <div>
                <label class="heading">Stock:</label>
                <span class="detail">{{item?.stock_availability}}</span>
            </div>
            <div>
                <label class="heading">Description:</label>
                <div class="detail-1">{{item?.product_description}}</div>
            </div>
        </div>

    </div>
</div>