<div id="main-nav" class="main ">

        <div class="logo">
            <div class="my-name">
                 <p class="my-name">Darshana Shah</p>
                <p style="color:  rgb(255,204,255); " class="my-name1">UI Developer</p>
            </div>
        </div>
        <div class="navbar">
            <ul class="nav-list">
                <li class="nav-item"><a [routerLink]="['/welcome']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"class="nav-link">Welcome</a></li>
                <li class="nav-item"><a [routerLink]="['/skills']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Skills</a></li>
                <li class="nav-item"><a [routerLink]="['/projects']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Work</a></li>
                <li class="nav-item"><a [routerLink]="['/poc1']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Responsive</a></li>
                <li class="nav-item"><a [routerLink]="['/poc2']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Redux</a></li>
            </ul>
        </div>
        <div style=" flex-grow: 3; width: 300px">
            <nav class="nav-bar-1">
                <div class="hamburger-menu">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                    <div class="line line-3"></div>
                </div>
                <ul class="nav-list-1">
                    <li class="nav-item-1"><a [routerLink]="['/welcome']" class="link-1">Welcome</a></li>
                    <li class="nav-item-1"><a [routerLink]="['/skills']" class="link-1">Skills</a></li>
                    <li class="nav-item-1"><a [routerLink]="['/projects']" class="link-1" href="#">Work</a></li>
                    <li class="nav-item-1"><a [routerLink]="['/poc1']" class="link-1">Responsive</a></li>
                    <li class="nav-item-1"><a [routerLink]="['/poc2']" class="link-1">Redux</a></li>

                </ul>
            </nav>
        </div>
    
</div>