<div id="main-nav" class="main">
    <div class="logo" >
        <div class="my-name">
            <h1>Darshana Shah</h1>
            <h4 style="color:  rgb(255,204,255); ">UI Developer</h4>
        </div>
    </div>
    <div class="navbar" >
        <ul class="nav-list">
            <li class="nav-item"><a [routerLink]="['/welcome']" class="nav-link">Welcome</a></li>
            <li class="nav-item"><a [routerLink]="['/skills']" class="nav-link">Skills</a></li>
            <li class="nav-item"><a [routerLink]="['/projects']" class="nav-link" href="#">Projects</a></li>
            <li class="nav-item"><a [routerLink]="['/poc']" class="nav-link" href="#">POC</a></li>
            <li class="nav-item"><a [routerLink]="['/contact']" class="nav-link" href="#">Contact</a></li>
        </ul>
    </div>
    <div style=" flex-grow: 3; width: 300px">
        <nav class="nav-bar-1" >
            <div class="hamburger-menu">
                <div class="line line-1"></div>
                <div class="line line-2"></div>
                <div class="line line-3"></div>
            </div>
            <ul class="nav-list-1">
                <li class="nav-item-1"><a [routerLink]="['/welcome']" class="link-1">Welcome</a></li>
                <li class="nav-item-1"><a [routerLink]="['/skills']" class="link-1">Skills</a></li>
                <li class="nav-item-1"><a [routerLink]="['/projects']" class="link-1" href="#">Projects</a></li>
                <li class="nav-item-1"><a [routerLink]="['/poc']" class="link-1">POC</a></li>
                <li class="nav-item-1"><a [routerLink]="['/contact']" class="link-1">Contact</a></li>
            </ul>
        </nav>
</div>
</div>