/* #main-nav {
    position: fixed;
} */


.main {
    display: flex;
    flex-flow: row;
    background-color: #2a042b; 
    height: 10em;
}
.content {
    padding: 16px;
}
.logo {
    flex-grow: 2;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}
.my-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding: 0;
    margin-left: 15px;
    text-transform: uppercase;
    color: white;

}
.navbar {
    flex-grow: 5;
}


.nav-list {
    display: flex;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    /* list-style: none; */
}

.nav-item {
    list-style: none;
    margin: 15px;
    text-transform: uppercase;
}
.nav-list a {
    display: block;
    text-decoration: none;
    padding: 3px 0;
    color:  rgb(255,204,255);
    letter-spacing: 1px; 
    
}
.nav-list a:hover {
    font-weight: bold;
    color: white;
}

/* hamburger-drawer */
.nav-drawer {
    border: 1px solid red;
    flex-grow: 3;
    width: 300px;
   
    
}
  .active {
    background-color: gray;
    
}
/* create hamburger div */

.nav-bar-1{
    /* width: 300px; */
    width: 185px;
    /* height: 40%; */
    height: 30%;
    background-color: #2a042b; 
    position: fixed;
    top: 1em;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.8s cubic-bezier(1,0,0,1)
}

.change {
    right: 0;
}
.hamburger-menu {
    width: 35px;
    height: 30px;
    /* background: red; */
    position: fixed;
    top: 7px;
    right: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* create line */
.line {
    width: 90%;
    height: 3px;
    background-color:  rgb(255,204,255);;
    transition: all 0.8s;
}
.change .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
}
.change .line-2 {
    opacity: 0;
}
.change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav-list-1 {
    text-align: right;
    
}
.nav-item-1 {
    list-style: none;
    margin: 10px;
}

.link-1 {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color:  rgb(255,204,255);
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    padding: 3px 0;
   
}

.link-1::before,
.link-1::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgb(255,204,255);;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.link-1::after {
    bottom: 0;
    transform-origin: right;
}
.link-1::before {
    top: 0;
    transform-origin: left;
}
.link-1:hover::before,
.link-1:hover::after {
    transform: scaleX(1);
}
 
/* @media query Responsive */

@media only screen and (max-width: 600px) {
   
    .my-name {
        font-family: 'Roboto', sans-serif;
        font-size: small;
        
    }
    .navbar {
        display: none;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 768px) {
        .my-name {
            font-family: 'Roboto', sans-serif;
            font-size: small;
            
        }
        .navbar {
            display: none;
        }
  } 
  
 /* sticky navigation */
  /* .sticky {
      position: fixed;
      top: 0;
      width: 100%;
  }
  
  .sticky  + .content {
      padding-top: 1000px;
  } */