<div class="main-box">

    <section class="inner-section">
        <div>
            <div class="inner-div">
                <div class="company-name">
                    <h2>BNY MELLON </h2>
                    <h3>New York, NY</h3>
                </div>
                <h4 class="year">AUG 2019 - FEB 2020</h4>
            </div>
            <p>
            </p>
        </div>
        <div>

            <p class="detail">Worked on client portal migration from AngularJS to Angular 6. Re-architect components
                with efficient design and reduced maintenance. Wrote functional Karma / Jasmine tests; used Rxjs,
                modules, Routes and resusable data models</p>
        </div>
        <div>
            <h3 class="tech">Technologies:</h3>
            <ul class="list">
                <li>AngularJS, Angular 6 Framework, AG-Grid, Tables</li>
                <li>Material-UI, In-house libraries</li>
                <li>Git, Unit Testing, Grunt, Bower, Jenkins</li>
            </ul>
        </div>
    </section>
    <section class="inner-section">
        <div>
            <div class="inner-div">
                <div class="company-name">
                    <h2>RATNAKAR OVERSEAS </h2>
                    <h3>Parsippany, NJ</h3>
                </div>
                <h4 class="year">AUG 2017 - JUL 2019</h4>
            </div>
            <p>
            </p>
        </div>
        <div>

            <p class="detail">
                Developed data-mining dashboard using ag-grid and Rxjs library in Angular 6 with Solr and MySQL as 
                a backend. Accomplished efficient and quick turnaround of requests to search, group and filter data 
                from millions of rows of international trade data made available via Solr and Javascript-based REST service. 
                Successfully implemented server-side row fetching feature of ag-grid</p>
        </div>
        <div>
            <h3 class="tech">Technologies:</h3>
            <ul class="list">
                <li>Angular 6 Framework, Typescript, Solr Service, AG-Grid</li>
                <li>Bootstrap, RESTFul Service in JS, MySql, CRUD Operations</li>
            </ul>
        </div>
    </section>


    <section class="inner-section">
        <div>
            <div class="inner-div">
                <div class="company-name">
                    <h2>J.K. TRADING ASSOCIATE INC </h2>
                    <h3>New York, NY</h3>
                </div>
                <h4 class="year">JUN 2016 - AUG 2017</h4>
            </div>
            <p>
            </p>
        </div>
        <div>



            <p class="detail">Developed an inventory management website that mainly provided inventory of raw materials and 
                final products and production details at New York offices and other jobwork locations. 
                System also tracked down the receivables, payables, expenses and other accounting activities efficiently.</p>
        </div>
        <div>
            <h3 class="tech">Technologies:</h3>
            <ul class="list">
                <li>Angular 2 Framework, Typescript, HTML5, CSS3, JS</li>
                <li>Tables, Grids, Forms, Bootstrap</li>
                <li>RequireJS, RESTFul Service Database</li>
            </ul>
        </div>
    </section>

    <section class="inner-section">
        <div>
            <div class="inner-div">
                <div class="company-name">
                    <h2>AUTOMATION PROJECT </h2>
                    <h3>FDU Teaneck, NJ</h3>
                </div>
                <h4 class="year">JAN 2014 - MAY 2016</h4>
            </div>
            <p>
            </p>
        </div>
        <div>

            <p class="detail">College project aimed to provide automation services to Industries. Developed a website 
                that generated data from IOT devices like termperature sensor with NodeMcu wifi chip to send data to 
                Node-based REST service running from Raspberry Pi machine. The website also ran from Raspberry Pi 
                to show live temperature data on the web.</p>
        </div>
        <div>
            <h3 class="tech">Technologies:</h3>
            <ul class="list">
                <li>AngularJS, Angular 2 Framework, Typescript, HTML5, CSS3, JS</li>
                <li>Tables, Grids, Forms, Bootstrap, Flex box</li>
                <li>RequireJS, MySql Database, RESTFul Service, Media Query</li>
            </ul>
        </div>
    </section>