<div class="main-box">

    <section class="inner-section">
        <div >
            <div class="inner-div">
                <h2 class="company-name">BNY MELLON - New York, NY</h2>
                <h4 style= "flex-grow: 2">Aug 2019 - Feb 2020</h4>
            </div>
            <p>
            </p>
        </div>
        <div>
            <h3>Project background</h3>
            <p>Strong UI developer with 5+ years’ experience in building responsive websites, evaluating components libraries and analyzing user requirements with client. Seeking an opportunity to leverage range of skills including latest front-end technologies, components, back-end platforms and tools. </p>
        </div>
        <div>
            <h3>Technologies are used</h3>
            <ul class="list">
                <li>AngularJS, Angular 6 Framework, AG-Grid, Tables</li>
                <li>Material-UI, In-house libraries</li>
                <li>Git, Unit Testing, Grunt, Bower, Jenkins</li>
            </ul>
        </div>
    </section>
    <section class="inner-section">
        <div >
            <div class="inner-div">
                <h2 class="company-name">RATNAKAR OVERSEAS - Parsippany, NJ</h2>
                <h4 style= "flex-grow: 2">Aug 2017 - Jul 2019</h4>
            </div>
            <p>
            </p>
        </div>
        <div>
            <h3>Project background</h3>
            <p>Strong UI developer with 5+ years’ experience in building responsive websites, evaluating components libraries and analyzing user requirements with client. Seeking an opportunity to leverage range of skills including latest front-end technologies, components, back-end platforms and tools. </p>
        </div>
        <div>
            <h3>Technologies are used</h3>
            <ul class="list">
                <li>Angular 6 Framework, Typescript, Solr Service, AG-Grid</li>
                <li>Bootstrap, RESTFul Service in JS, MySql, CRUD Operations</li>
            </ul>
        </div>
    </section>
    <section class="inner-section">
        <div >
            <div class="inner-div">
                <h2 class="company-name">J.K. TRADING ASSOCIATE INC - New York, NY</h2>
                <h4 style= "flex-grow: 2">JUN 2016 - AUG 2017</h4>
            </div>
            <p>
            </p>
        </div>
        <div>
            <h3>Project background</h3>
            <p>Strong UI developer with 5+ years’ experience in building responsive websites, evaluating components libraries and analyzing user requirements with client. Seeking an opportunity to leverage range of skills including latest front-end technologies, components, back-end platforms and tools. </p>
        </div>
        <div>
            <h3>Technologies are used</h3>
            <ul class="list">
                <li>Angular 2 Framework, Typescript, HTML5, CSS3, JS</li>
                <li>Tables, Grids, Forms, Bootstrap</li>
                <li>RequireJS, RESTFul Service Database</li>
            </ul>
        </div>
    </section>
    <section class="inner-section">
        <div >
            <div class="inner-div">
                <h2 class="company-name">AUTOMATION PROJECT  - FDU Teaneck, NJ</h2>
                <h4 style= "flex-grow: 2">JAN 2014 - MAY 2016</h4>
            </div>
            <p> 
            </p>
        </div>
        <div>
            <h3>Project background</h3>
            <p>Strong UI developer with 5+ years’ experience in building responsive websites, evaluating components libraries and analyzing user requirements with client. Seeking an opportunity to leverage range of skills including latest front-end technologies, components, back-end platforms and tools.</p>
        </div>
        <div>
            <h3>Technologies are used</h3>
            <ul class="list">
                <li>AngularJS, Angular 2 Framework, Typescript, HTML5, CSS3, JS</li>
                <li>Tables, Grids, Forms, Bootstrap, Flex box</li>
                <li>RequireJS, MySql Database, RESTFul Service, Media Query</li>
            </ul>
        </div>
    </section>
