<div class="main-box">

    <section class="inner-section">
        <div>
            <div class="inner-div">
                <div class="company-name">
                    <h2>BNY MELLON </h2>
                    <h3>New York, NY</h3>
                </div>
                <h4 class="year">AUG 2019 - FEB 2020</h4>
            </div>
            <p>
            </p>
        </div>
        <div>

            <p class="detail">Worked on client portal migration from AngularJS to Angular 6. Re-architect components
                with efficient design and reduced maintenance. Wrote functional Karma / Jasmine tests; used Rxjs,
                modules, Routes and resusable data models</p>
        </div>
        <div>
            <h3 class="tech">Technologies are used</h3>
            <ul class="list">
                <li>AngularJS, Angular 6 Framework, AG-Grid, Tables</li>
                <li>Material-UI, In-house libraries</li>
                <li>Git, Unit Testing, Grunt, Bower, Jenkins</li>
            </ul>
        </div>
    </section>
    <section class="inner-section">
        <div>
            <div class="inner-div">
                <div class="company-name">
                    <h2>RATNAKAR OVERSEAS </h2>
                    <h3>Parsippany, NJ</h3>
                </div>
                <h4 class="year">AUG 2017 - JUL 2019</h4>
            </div>
            <p>
            </p>
        </div>
        <div>

            <p class="detail">
                Developed a search-engine app, that gets the row data from the government. Send that data to Solr
                search-engine open-source service for filtering , grouping and indexing for
                efficient use and map int he standard format. in result-- million lines of data is displayed in ag-grid
                within 7 to 8 seconds..</p>
        </div>
        <div>
            <h3 class="tech">Technologies are used</h3>
            <ul class="list">
                <li>Angular 6 Framework, Typescript, Solr Service, AG-Grid</li>
                <li>Bootstrap, RESTFul Service in JS, MySql, CRUD Operations</li>
            </ul>
        </div>
    </section>


    <section class="inner-section">
        <div>
            <div class="inner-div">
                <div class="company-name">
                    <h2>J.K. TRADING ASSOCIATE INC </h2>
                    <h3>New York, NY</h3>
                </div>
                <h4 class="year">JUN 2016 - AUG 2017</h4>
            </div>
            <p>
            </p>
        </div>
        <div>



            <p class="detail">Devopled a deshboard system, consists of tabs that manage the drill down operations for
                row materials, final products.
                System also tracked down the recivables, paybales, expences and other finance related works efficiently.
            </p>
        </div>
        <div>
            <h3 class="tech">Technologies are used</h3>
            <ul class="list">
                <li>Angular 2 Framework, Typescript, HTML5, CSS3, JS</li>
                <li>Tables, Grids, Forms, Bootstrap</li>
                <li>RequireJS, RESTFul Service Database</li>
            </ul>
        </div>
    </section>

    <section class="inner-section">
        <div>
            <div class="inner-div">
                <div class="company-name">
                    <h2>AUTOMATION PROJECT </h2>
                    <h3>FDU Teaneck, NJ</h3>
                </div>
                <h4 class="year">JJAN 2014 - MAY 2016</h4>
            </div>
            <p>
            </p>
        </div>
        <div>

            <p class="detail">
                Developed a search-engine app, that gets the row data from the government. Send that data to Solr
                search-engine open-source service for filtering, grouping and indexing for
                efficient use and map int he standard format. in result-- million lines of data is displayed in ag-grid
                within 7 to 8 seconds..</p>
        </div>
        <div>
            <h3 class="tech">Technologies are used</h3>
            <ul class="list">
                <li>AngularJS, Angular 2 Framework, Typescript, HTML5, CSS3, JS</li>
                <li>Tables, Grids, Forms, Bootstrap, Flex box</li>
                <li>RequireJS, MySql Database, RESTFul Service, Media Query</li>
            </ul>
        </div>
    </section>