
.main {
   
    display: flex;
    flex-direction: column;
}

.heading  {
    font-family: 'Roboto';
    font-size: 2em;
    color: #2a042b;
    text-align: center;
    margin-bottom: 1em; 
    margin-top: 3em;
    
}
.box {
    display: flex;
    flex-flow: row wrap;
    margin: 1em 6em;
    justify-content: space-around;
    cursor: pointer;

}
.box>* {
    flex-grow: 1;
}

.child {
    margin: auto;
    
}

 