

<div class="box">
   
    <div class="image child">
        <img  class="image" src={{item?.image_path}} />
    </div>
    <div class="information-div child">
        <div>
            <span>
                <h3>{{item?.image_number}}</h3>
            </span>
        </div>
        <div>
            <label><b>Stock:</b></label>
            <span>{{item?.stock_availability}}</span>
        </div>
        <div>
            <label><b>Description:</b></label>
            <div>{{item?.product_description}}</div>
        </div>
    </div>

</div>
